In [ ]:
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [1]:
import pandas as pd

In [3]:
lst = [1,2,3,4,5]
s1 = pd.Series(lst)

In [4]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [7]:
lst = [1,2,3]
s2 = pd.Series(lst)
lst1 = s2.tolist()

In [9]:
print('lst',type(lst))
print('s2',type(s2))
print('last1',type(lst1))

lst <class 'list'>
s2 <class 'pandas.core.series.Series'>
last1 <class 'list'>

In [10]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [11]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,4,5])

In [12]:
sum = s1+s2

In [14]:
mult = s1*s2
div = s1/s1
sub = s1-s2

In [15]:
#Write a Pandas program to compare the elements of the two Pandas Series.

In [16]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,4,5])

In [20]:
print("Equals")
print(s1==s2)

Equals
0    False
1    False
2    False
dtype: bool

In [19]:
print("Greater than:")
print(s1 > s2)

Greater than:
0    False
1    False
2    False
dtype: bool

In [22]:
print('less than')
print(s1<s2)

less than
0    True
1    True
2    True
dtype: bool

In [23]:
#5. Write a Pandas program to convert a dictionary to a Pandas series.

In [24]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [25]:
ds1= pd.Series(dict)

In [26]:
ds1

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [27]:
#Write a Pandas program to convert a NumPy array to a Pandas series.

In [28]:
import numpy as np

In [29]:
np_array = np.array([1,2,3,4,5])

In [30]:
type(np_array)

numpy.ndarray

In [31]:
ds1 = pd.Series(np_array)

In [32]:
type(ds1)

pandas.core.series.Series

In [33]:
# 7. Write a Pandas program to change the data type of given a column or a Series.

In [34]:
lst = ['100', '200', 'python', '300.12', '400']
ds1 = pd.Series(lst)

In [36]:
ds2 = pd.to_numeric(ds1, errors='coerce')

In [37]:
#8. Write a Pandas program to convert the first column of a DataFrame as a Series

In [38]:
dict = {'col1': [1,2,3,4,5],
 'col2' : [6,7,8,9,1],
 'col3': [2,3,4,5,6]}

In [40]:
df = pd.DataFrame(dict)

In [41]:
ds1 = pd.Series(df['col1'])

In [42]:
ds1

0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64