In [ ]:
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [ ]:
import pandas as pd

In [ ]:
lst = [1,2,3,4,5]
s1 = pd.Series(lst)

In [ ]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [ ]:
lst = [1,2,3]
s2 = pd.Series(lst)
lst1 = s2.tolist()

In [ ]:
print('lst',type(lst))
print('s2',type(s2))
print('last1',type(lst1))

lst <class 'list'>
s2 <class 'pandas.core.series.Series'>
last1 <class 'list'>

In [ ]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,4,5])

In [ ]:
sum = s1+s2

In [ ]:
mult = s1*s2
div = s1/s1
sub = s1-s2

In [ ]:
#Write a Pandas program to compare the elements of the two Pandas Series.

In [ ]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,4,5])

In [ ]:
print("Equals")
print(s1==s2)

Equals
0    False
1    False
2    False
dtype: bool

In [ ]:
print("Greater than:")
print(s1 > s2)

Greater than:
0    False
1    False
2    False
dtype: bool

In [ ]:
print('less than')
print(s1<s2)

less than
0    True
1    True
2    True
dtype: bool

In [ ]:
#5. Write a Pandas program to convert a dictionary to a Pandas series.

In [ ]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [ ]:
ds1= pd.Series(dict)

In [ ]:
ds1

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [ ]:
#Write a Pandas program to convert a NumPy array to a Pandas series.

In [ ]:
import numpy as np

In [ ]:
np_array = np.array([1,2,3,4,5])

In [ ]:
type(np_array)

numpy.ndarray

In [ ]:
ds1 = pd.Series(np_array)

In [ ]:
type(ds1)

pandas.core.series.Series

In [ ]:
# 7. Write a Pandas program to change the data type of given a column or a Series.

In [ ]:
lst = ['100', '200', 'python', '300.12', '400']
ds1 = pd.Series(lst)

In [ ]:
ds2 = pd.to_numeric(ds1, errors='coerce')

In [ ]:
#8. Write a Pandas program to convert the first column of a DataFrame as a Series

In [ ]:
dict = {'col1': [1,2,3,4,5],
 'col2' : [6,7,8,9,1],
 'col3': [2,3,4,5,6]}

In [ ]:
df = pd.DataFrame(dict)

In [ ]:
ds1 = pd.Series(df['col1'])

In [ ]:
ds1

0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64

In [ ]:
#Write a Pandas program to convert Series of lists to one Series

In [ ]:

s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

In [3]:
import pandas as pd

In [4]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

In [5]:
s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [6]:
s = s.apply(pd.Series).stack().reset_index(drop=True)

In [7]:
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [8]:
# 11. Write a Pandas program to sort a given Series.

In [9]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])

In [10]:
s.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [11]:
#12. Write a Pandas program to add some data to an existing Series.

In [17]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.Series(['100000'])

In [15]:
s.append(s2)

0       100
1       200
2    python
3    300.12
4       400
0    100000
dtype: object

In [18]:
s.append(s2).reset_index(drop=True)

   index       0
0      0     100
1      1     200
2      2  python
3      3  300.12
4      4     400
5      0  100000

In [19]:
s.append(s2).reset_index(drop=True)

0       100
1       200
2    python
3    300.12
4       400
5    100000
dtype: object

In [21]:
s[:3]

0       100
1       200
2    python
dtype: object

In [22]:
#Change the order of index of a given series

In [23]:
ds1 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])

In [24]:
ds1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [28]:
ds1.reindex(index= ['b', 'c', 'd', 'e', 'a'])

b    2
c    3
d    4
e    5
a    1
dtype: int64

In [27]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [29]:
#Create the mean and standard deviation of the data of a given Series

In [30]:
ds1 = pd.Series([1,2,3,4,5])
print('mean:', ds1.mean())
print('std:', ds1.std())

mean: 3.0
std: 1.5811388300841898

In [31]:
# 16. Write a Pandas program to get the items of a given series not present in another given series

In [32]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])

In [34]:
result = sr1[sr1.isin(sr2)]
result

1    2
3    4
dtype: int64

In [35]:
result = sr1[~sr1.isin(sr2)]
result

0    1
2    3
4    5
dtype: int64

In [36]:
#17. Write a Pandas program to get the items which are not common of two given series.

In [37]:
import pandas as pd
import numpy as np
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of a given series not present in another given series:")
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [38]:
sr11

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64

In [39]:
sr22

0    2
1    4
dtype: int64

In [40]:
result = sr11[~sr11.isin(sr22)]
result

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64