In [3]:
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [4]:
import pandas as pd

In [5]:
lst = [1,2,3,4,5]
s1 = pd.Series(lst)

In [6]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [8]:
lst = [1,2,3]
s2 = pd.Series(lst)
lst1 = s2.tolist()

In [9]:
print('lst',type(lst))
print('s2',type(s2))
print('last1',type(lst1))

lst <class 'list'>
s2 <class 'pandas.core.series.Series'>
last1 <class 'list'>

In [10]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [11]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,4,5])

In [12]:
sum = s1+s2

In [13]:
mult = s1*s2
div = s1/s1
sub = s1-s2

In [14]:
#Write a Pandas program to compare the elements of the two Pandas Series.

In [15]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,4,5])

In [16]:
print("Equals")
print(s1==s2)

Equals
0    False
1    False
2    False
dtype: bool

In [17]:
print("Greater than:")
print(s1 > s2)

Greater than:
0    False
1    False
2    False
dtype: bool

In [18]:
print('less than')
print(s1<s2)

less than
0    True
1    True
2    True
dtype: bool

In [19]:
#5. Write a Pandas program to convert a dictionary to a Pandas series.

In [20]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [21]:
ds1= pd.Series(dict)

In [22]:
ds1

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [23]:
#Write a Pandas program to convert a NumPy array to a Pandas series.

In [24]:
import numpy as np

In [25]:
np_array = np.array([1,2,3,4,5])

In [26]:
type(np_array)

numpy.ndarray

In [27]:
ds1 = pd.Series(np_array)

In [28]:
type(ds1)

pandas.core.series.Series

In [29]:
# 7. Write a Pandas program to change the data type of given a column or a Series.

In [30]:
lst = ['100', '200', 'python', '300.12', '400']
ds1 = pd.Series(lst)

In [31]:
ds2 = pd.to_numeric(ds1, errors='coerce')

In [32]:
#8. Write a Pandas program to convert the first column of a DataFrame as a Series

In [33]:
dict = {'col1': [1,2,3,4,5],
 'col2' : [6,7,8,9,1],
 'col3': [2,3,4,5,6]}

In [34]:
df = pd.DataFrame(dict)

In [35]:
ds1 = pd.Series(df['col1'])

In [36]:
ds1

0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64

In [37]:
#Write a Pandas program to convert Series of lists to one Series

In [38]:

s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [39]:
import pandas as pd

In [40]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

In [41]:
s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [42]:
s = s.apply(pd.Series).stack().reset_index(drop=True)

In [43]:
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [44]:
# 11. Write a Pandas program to sort a given Series.

In [45]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])

In [46]:
s.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [47]:
#12. Write a Pandas program to add some data to an existing Series.

In [48]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.Series(['100000'])

In [49]:
s.append(s2)

0       100
1       200
2    python
3    300.12
4       400
0    100000
dtype: object

In [50]:
s.append(s2).reset_index(drop=True)

0       100
1       200
2    python
3    300.12
4       400
5    100000
dtype: object

In [51]:
s.append(s2).reset_index(drop=True)

0       100
1       200
2    python
3    300.12
4       400
5    100000
dtype: object

In [52]:
s[:3]

0       100
1       200
2    python
dtype: object

In [53]:
#Change the order of index of a given series

In [54]:
ds1 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])

In [55]:
ds1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [56]:
ds1.reindex(index= ['b', 'c', 'd', 'e', 'a'])

b    2
c    3
d    4
e    5
a    1
dtype: int64

In [57]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [58]:
#Create the mean and standard deviation of the data of a given Series

In [59]:
ds1 = pd.Series([1,2,3,4,5])
print('mean:', ds1.mean())
print('std:', ds1.std())

mean: 3.0
std: 1.5811388300841898

In [60]:
# 16. Write a Pandas program to get the items of a given series not present in another given series

In [61]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])

In [62]:
result = sr1[sr1.isin(sr2)]
result

1    2
3    4
dtype: int64

In [63]:
result = sr1[~sr1.isin(sr2)]
result

0    1
2    3
4    5
dtype: int64

In [64]:
#17. Write a Pandas program to get the items which are not common of two given series.

In [65]:
import pandas as pd
import numpy as np
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of a given series not present in another given series:")
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [66]:
sr11

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64

In [67]:
sr22

0    2
1    4
dtype: int64

In [68]:
result = sr11[~sr11.isin(sr22)]
result

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [69]:
# Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [70]:
sr1 = pd.Series([1, 2, 3, 4, 5])

In [71]:
sr1.value_counts()

1    1
2    1
3    1
4    1
5    1
dtype: int64

In [72]:
#Find the positions of numbers that are multiples of 5 of a given series

In [73]:
import pandas as pd
import numpy as np
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_series)
result = np.where(num_series % 5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    8
1    9
2    5
3    6
4    4
5    8
6    4
7    6
8    2
dtype: int64
Positions of numbers that are multiples of 5:
(array([2]),)

In [74]:
lst = [1,2,3,4,5]
ds1 = pd.Series(lst)

In [75]:
result = np.where(ds1%5==0)

In [76]:
result

(array([4]),)

In [77]:
#Extract items at given positions of a given series

In [86]:
num_series = pd.Series(list('2390238923902390239023'))
num_series

0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

In [82]:
elements = num_series.take([0])

In [83]:
elements

0    2
dtype: object

In [88]:
#25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [89]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])

In [104]:
import pandas as pd
series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [105]:
re = series1.map(lambda x: x[0].upper()  + x[1:-1]  + x[-1].upper())
print(re)

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [106]:
#26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [107]:
lst = [1,2,3,4,5]
ds1 = pd.Series(lst)