In [1]:
people = {
    "first": ["Corey", 'Jane', 'John', "Tony", 'Spyder', 'Capten'], 
    "last": ["Schafer", 'Doe', 'Doe', "Stark", 'Man', 'America'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com', "TonyStark@gmail.com", 'Spyder@email.com', 'Capamwerica@email.com']
}

In [3]:
import pandas as pd
df = pd.DataFrame(people)
df.head(10)

    first     last                    email
0   Corey  Schafer  CoreyMSchafer@gmail.com
1    Jane      Doe        JaneDoe@email.com
2    John      Doe        JohnDoe@email.com
3    Tony    Stark      TonyStark@gmail.com
4  Spyder      Man         Spyder@email.com
5  Capten  America    Capamwerica@email.com

In [4]:
df.sort_values(by='email')

    first     last                    email
5  Capten  America    Capamwerica@email.com
0   Corey  Schafer  CoreyMSchafer@gmail.com
1    Jane      Doe        JaneDoe@email.com
2    John      Doe        JohnDoe@email.com
4  Spyder      Man         Spyder@email.com
3    Tony    Stark      TonyStark@gmail.com

In [5]:
df.sort_values(by='email', ascending=False)

    first     last                    email
3    Tony    Stark      TonyStark@gmail.com
4  Spyder      Man         Spyder@email.com
2    John      Doe        JohnDoe@email.com
1    Jane      Doe        JaneDoe@email.com
0   Corey  Schafer  CoreyMSchafer@gmail.com
5  Capten  America    Capamwerica@email.com

In [6]:
df.sort_index()

    first     last                    email
0   Corey  Schafer  CoreyMSchafer@gmail.com
1    Jane      Doe        JaneDoe@email.com
2    John      Doe        JohnDoe@email.com
3    Tony    Stark      TonyStark@gmail.com
4  Spyder      Man         Spyder@email.com
5  Capten  America    Capamwerica@email.com

In [7]:
df['full_name'] = df['first'] + ' ' + df['last']

In [8]:
df

    first     last                    email       full_name
0   Corey  Schafer  CoreyMSchafer@gmail.com   Corey Schafer
1    Jane      Doe        JaneDoe@email.com        Jane Doe
2    John      Doe        JohnDoe@email.com        John Doe
3    Tony    Stark      TonyStark@gmail.com      Tony Stark
4  Spyder      Man         Spyder@email.com      Spyder Man
5  Capten  America    Capamwerica@email.com  Capten America

In [13]:
df.drop('first', axis=1, inplace=True)
df

      last                    email       full_name
0  Schafer  CoreyMSchafer@gmail.com   Corey Schafer
1      Doe        JaneDoe@email.com        Jane Doe
2      Doe        JohnDoe@email.com        John Doe
3    Stark      TonyStark@gmail.com      Tony Stark
4      Man         Spyder@email.com      Spyder Man
5  America    Capamwerica@email.com  Capten America

In [17]:
df

                     email       full_name
0  CoreyMSchafer@gmail.com   Corey Schafer
1        JaneDoe@email.com        Jane Doe
2        JohnDoe@email.com        John Doe
3      TonyStark@gmail.com      Tony Stark
4         Spyder@email.com      Spyder Man
5    Capamwerica@email.com  Capten America

In [21]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)
df

                     email       full_name   first     last
0  CoreyMSchafer@gmail.com   Corey Schafer   Corey  Schafer
1        JaneDoe@email.com        Jane Doe    Jane      Doe
2        JohnDoe@email.com        John Doe    John      Doe
3      TonyStark@gmail.com      Tony Stark    Tony    Stark
4         Spyder@email.com      Spyder Man  Spyder      Man
5    Capamwerica@email.com  Capten America  Capten  America

In [22]:
df.drop('full_name', axis=1, inplace=True)

In [23]:
df

                     email   first     last
0  CoreyMSchafer@gmail.com   Corey  Schafer
1        JaneDoe@email.com    Jane      Doe
2        JohnDoe@email.com    John      Doe
3      TonyStark@gmail.com    Tony    Stark
4         Spyder@email.com  Spyder      Man
5    Capamwerica@email.com  Capten  America

In [25]:
df.append({'email': 'DanielRicciardo@gmail.com'}, ignore_index=True)

                       email   first     last
0    CoreyMSchafer@gmail.com   Corey  Schafer
1          JaneDoe@email.com    Jane      Doe
2          JohnDoe@email.com    John      Doe
3        TonyStark@gmail.com    Tony    Stark
4           Spyder@email.com  Spyder      Man
5      Capamwerica@email.com  Capten  America
6  DanielRicciardo@gmail.com     NaN      NaN

In [26]:
 people = {
    "first_name": ["Tony", 'Spyder', 'Capten'], 
    "last_name": ["Stark", 'Man', 'America'], 
    "email": ["TonyStark@gmail.com", 'Spyder@email.com', 'Capamwerica@email.com']
}

In [27]:
df2 = pd.DataFrame(people)

In [28]:
df2

  first_name last_name                  email
0       Tony     Stark    TonyStark@gmail.com
1     Spyder       Man       Spyder@email.com
2     Capten   America  Capamwerica@email.com

In [29]:
df

                     email   first     last
0  CoreyMSchafer@gmail.com   Corey  Schafer
1        JaneDoe@email.com    Jane      Doe
2        JohnDoe@email.com    John      Doe
3      TonyStark@gmail.com    Tony    Stark
4         Spyder@email.com  Spyder      Man
5    Capamwerica@email.com  Capten  America

In [31]:
df2.colums = ['first', 'last', 'email']

<ipython-input-31-e071a537766c>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df2.colums = ['first', 'last', 'email']

In [34]:
df2.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [35]:
df2

    first     last                  email
0    Tony    Stark    TonyStark@gmail.com
1  Spyder      Man       Spyder@email.com
2  Capten  America  Capamwerica@email.com

In [38]:
df3 = df.append(df2)
df3

                     email   first     last
0  CoreyMSchafer@gmail.com   Corey  Schafer
1        JaneDoe@email.com    Jane      Doe
2        JohnDoe@email.com    John      Doe
3      TonyStark@gmail.com    Tony    Stark
4         Spyder@email.com  Spyder      Man
5    Capamwerica@email.com  Capten  America
0      TonyStark@gmail.com    Tony    Stark
1         Spyder@email.com  Spyder      Man
2    Capamwerica@email.com  Capten  America

In [53]:
filt = df3['last'] == 'Stark'
x = df3[filt].index
df3.drop(x, inplace=True)
df3

                   email   first     last
1      JaneDoe@email.com    Jane      Doe
2      JohnDoe@email.com    John      Doe
4       Spyder@email.com  Spyder      Man
5  Capamwerica@email.com  Capten  America
1       Spyder@email.com  Spyder      Man
2  Capamwerica@email.com  Capten  America

In [22]:
# d_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p')
import pandas as pd
dfD = pd.read_csv('ETH_1h.csv')

In [23]:
dfD

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [24]:
dfD.describe()

               Open          High           Low         Close        Volume
count  23674.000000  23674.000000  23674.000000  23674.000000  2.367400e+04
mean     324.933372    327.317109    322.255521    324.926601  2.011035e+06
std      236.189068    238.539115    233.365042    236.192308  3.673646e+06
min       81.290000     82.000000     80.600000     81.290000  0.000000e+00
25%      171.522500    172.472500    170.500000    171.512500  3.993914e+05
50%      229.745000    231.725000    228.100000    229.725000  9.146454e+05
75%      402.797500    405.427500    400.030000    402.797500  2.098111e+06
max     1418.610000   1419.960000   1388.990000   1418.610000  8.569790e+07

In [25]:
type(dfD['Date'])

pandas.core.series.Series

In [26]:
pd.to_datetime(dfD['Date'], format = '%Y-%m-%d %I-%p')

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [27]:
dfD['Date'] = pd.to_datetime(dfD['Date'], format = '%Y-%m-%d %I-%p')

In [31]:
dfD

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [30]:
dfD.loc[0,'Date'].day_name()

'Friday'

In [36]:
dfD['DayOfWeek'] = dfD['Date'].dt.day_name()

In [37]:
dfD

,Date,Symbol,Open,High,Low,Close,Volume,dayOfWeek,DayOfWeek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday,Friday
...,...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday,Saturday

In [38]:
type(dfD['Date'])

pandas.core.series.Series

In [39]:
dfD['Date'].min()

Timestamp('2017-07-01 11:00:00')

In [40]:
dfD['Date'].max()

Timestamp('2020-03-13 20:00:00')

In [41]:
time_delta = dfD['Date'].max() - dfD['Date'].min()
time_delta

Timedelta('986 days 09:00:00')

In [49]:
filt = (dfD['Date'] >= '2019-01') & (dfD['Date'] <=  '2019-05')

In [50]:
dfD.loc[filt]

,Date,Symbol,Open,High,Low,Close,Volume,dayOfWeek,DayOfWeek
7628,2019-05-01 00:00:00,ETHUSD,160.40,163.25,160.29,161.59,1669912.13,Wednesday,Wednesday
7629,2019-04-30 23:00:00,ETHUSD,160.45,160.62,159.61,160.40,712852.31,Tuesday,Tuesday
7630,2019-04-30 22:00:00,ETHUSD,157.61,161.20,157.56,160.45,2515387.20,Tuesday,Tuesday
7631,2019-04-30 21:00:00,ETHUSD,156.43,158.06,156.19,157.61,746770.09,Tuesday,Tuesday
7632,2019-04-30 20:00:00,ETHUSD,156.13,156.91,155.76,156.43,468094.79,Tuesday,Tuesday
...,...,...,...,...,...,...,...,...,...
10504,2019-01-01 04:00:00,ETHUSD,130.75,133.96,130.74,131.96,2791135.37,Tuesday,Tuesday
10505,2019-01-01 03:00:00,ETHUSD,130.06,130.79,130.06,130.75,503732.63,Tuesday,Tuesday
10506,2019-01-01 02:00:00,ETHUSD,130.79,130.88,129.55,130.06,838183.43,Tuesday,Tuesday
10507,2019-01-01 01:00:00,ETHUSD,131.62,131.62,130.77,130.79,434917.99,Tuesday,Tuesday
10508,2019-01-01 00:00:00,ETHUSD,130.53,131.91,130.48,131.62,1067136.21,Tuesday,Tuesday

In [54]:
dfD.set_index('Date', inplace=True)

In [57]:
dfD['2019-04-04']

,Symbol,Open,High,Low,Close,Volume,dayOfWeek,DayOfWeek
Date,,,,,,,,
2019-04-04 23:00:00,ETHUSD,157.22,158.50,157.02,157.65,562503.23,Thursday,Thursday
2019-04-04 22:00:00,ETHUSD,158.75,159.36,157.08,157.22,498213.28,Thursday,Thursday
2019-04-04 21:00:00,ETHUSD,156.08,159.36,155.52,158.75,1207832.23,Thursday,Thursday
2019-04-04 20:00:00,ETHUSD,154.62,156.09,154.15,156.08,985609.21,Thursday,Thursday
2019-04-04 19:00:00,ETHUSD,155.66,156.33,154.50,154.62,814261.94,Thursday,Thursday
2019-04-04 18:00:00,ETHUSD,154.01,156.80,153.50,155.66,1642325.79,Thursday,Thursday
2019-04-04 17:00:00,ETHUSD,155.70,157.88,154.00,154.01,3031467.32,Thursday,Thursday
2019-04-04 16:00:00,ETHUSD,161.28,161.34,155.54,155.70,2422406.00,Thursday,Thursday
2019-04-04 15:00:00,ETHUSD,161.18,161.36,159.61,161.28,795055.15,Thursday,Thursday
2019-04-04 14:00:00,ETHUSD,161.69,162.55,161.01,161.18,874064.93,Thursday,Thursday
2019-04-04 13:00:00,ETHUSD,162.14,162.48,161.05,161.69,567316.38,Thursday,Thursday
2019-04-04 12:00:00,ETHUSD,161.80,162.57,160.81,162.14,602582.95,Thursday,Thursday
2019-04-04 11:00:00,ETHUSD,159.68,162.07,159.11,161.80,765730.55,Thursday,Thursday
2019-04-04 10:00:00,ETHUSD,162.03,162.04,159.01,159.68,586554.09,Thursday,Thursday
2019-04-04 09:00:00,ETHUSD,162.74,163.23,161.33,162.03,524783.42,Thursday,Thursday
2019-04-04 08:00:00,ETHUSD,162.56,163.80,162.23,162.74,263557.17,Thursday,Thursday
2019-04-04 07:00:00,ETHUSD,163.10,163.32,161.50,162.56,404668.52,Thursday,Thursday
2019-04-04 06:00:00,ETHUSD,162.90,164.47,162.50,163.10,460991.98,Thursday,Thursday
2019-04-04 05:00:00,ETHUSD,162.60,163.88,162.35,162.90,630288.75,Thursday,Thursday
2019-04-04 04:00:00,ETHUSD,160.09,162.86,159.47,162.60,793451.30,Thursday,Thursday
2019-04-04 03:00:00,ETHUSD,161.80,162.00,158.59,160.09,1515678.43,Thursday,Thursday
2019-04-04 02:00:00,ETHUSD,161.66,163.55,161.50,161.80,998748.61,Thursday,Thursday
2019-04-04 01:00:00,ETHUSD,163.00,164.84,161.04,161.66,2550402.07,Thursday,Thursday
2019-04-04 00:00:00,ETHUSD,161.33,163.73,158.17,163.00,2882552.07,Thursday,Thursday

In [68]:
dfD['2020-01':'2020-02']['Open']

Date
2020-02-29 23:00:00    223.35
2020-02-29 22:00:00    223.48
2020-02-29 21:00:00    224.63
2020-02-29 20:00:00    225.31
2020-02-29 19:00:00    225.09
                        ...
2020-01-01 04:00:00    129.57
2020-01-01 03:00:00    130.37
2020-01-01 02:00:00    130.14
2020-01-01 01:00:00    128.34
2020-01-01 00:00:00    128.54
Name: Open, Length: 1440, dtype: float64

In [72]:
import numpy as np
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [74]:
dfc = pd.DataFrame(people)
dfc

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [77]:
dfc.isna().sum()

first    2
last     2
email    2
age      2
dtype: int64

In [78]:
dfc.dropna()

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [79]:
dfc.dropna(axis='index', how='any')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [83]:
dfc.dropna(axis='index', how='all')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [85]:
dfc.dropna(axis='index', how='all', subset=['email', 'first'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [86]:
dfc.fillna(0)

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                        0       36
4      0        0                        0        0
5      0        0      Anonymous@email.com        0
6     NA  Missing                       NA  Missing

In [88]:
dfc.replace('NA', np.nan, inplace=True)
dfc.replace('Missing', np.nan, inplace=True)

In [90]:
dfc.fillna(0)

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63
3  Chris  Schafer                        0  36
4      0        0                        0   0
5      0        0      Anonymous@email.com   0
6      0        0                        0   0

In [92]:
dfc['age'] = dfc['age'].astype(float)

In [93]:
dfc['age'].mean()

46.75

In [94]:
dfc['age'].median()

45.5

In [95]:
na_vals = ['NA', 'Missing']
dfc1 = pd.read_csv('survey_results_public.csv', index_col='Respondent', na_values=na_vals)
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')

In [96]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [97]:
dfc1.head(5)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [98]:
dfc1['YearsCode']

Respondent
1          4
2        NaN
3          3
4          3
5         16
        ...
88377    NaN
88601    NaN
88802    NaN
88816    NaN
88863      8
Name: YearsCode, Length: 88883, dtype: object

In [99]:
dfc1['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

In [100]:
dfc1.replace('Less than 1 year', 0, inplace=True)

In [102]:
dfc1.replace('More than 50 years',51, inplace=True)

In [107]:
dfc1['YearsCode'] = dfc1['YearsCode'].astype(float)

In [109]:
dfc1['YearsCode'].mean()

11.589040005458392

In [110]:
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [111]:
dfg = pd.read_csv('survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')

In [112]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [114]:
dfg.head(10)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,NaN,Data or business analyst;Data scientist or mac...,13,15,3,Very satisfied,Slightly satisfied,Very confident,No,Yes,I am not interested in new job opportunities,1-2 years ago,Write any code;Complete a take-home project;In...,No,Financial performance or funding status of the...,I heard about a job opportunity (from a recrui...,CAD,Canadian dollar,40000.0,Monthly,366420.0,15.0,There's no schedule or spec; I work on what se...,NaN,A few days each month,Home,A little above average,No,NaN,"Yes, it's not part of our process but the deve...",Not sure,I have little or no influence,Java;R;SQL,Python;Scala;SQL,MongoDB;PostgreSQL,PostgreSQL,Android;Google Cloud Platform;Linux;Windows,Android;Google Cloud Platform;Linux;Windows,NaN,NaN,Hadoop,Hadoop;Pandas;TensorFlow;Unity 3D,Android Studio;Eclipse;PyCharm;RStudio;Visual ...,Windows,I do not use containers,Not at all,NaN,No,Yes,No,YouTube,In real life (in person),Login,2011,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was slightly faster,60+ minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...","Just me - I am a freelancer, sole proprietor, ...","Designer;Developer, front-end",6,17,4,Slightly satisfied,Neither satisfied nor dissatisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",NA - I am an independent contractor or self em...,Write any code,No,Remote work options;Opportunities for professi...,NaN,USD,United States dollar,NaN,NaN,NaN,32.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,All or almost all the time (I'm full-time remote),"Other place, such as a coworking space or cafe",Average,"Yes, because I see value in code review",6.0,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript,NaN,NaN,MacOS;Windows,MacOS;Windows,React.js,React.js,NaN,NaN,PHPStorm,Windows,I do not use containers,NaN,"Useful for decentralized currency (i.e., Bitcoin)",No,Yes,No,YouTube,NaN,NaN,2014,Daily or almost daily,Find answers to specific questions,3-5 times per week,NaN,NaN,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are",Neutral,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",NaN,"Developer, back-end;Engineer, site reliability",8,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,Bash/Shell/PowerShell;C;C++;Elixir;Erlang;Go;P...,Cassandra;Elasticsearch;MongoDB;MySQL;Oracle;R...,Cassandra;DynamoDB;Elasticsearch;Firebase;Mong...,AWS;Docker;Heroku;Linux;MacOS;Slack,Android;Arduino;AWS;Docker;Google Cloud Platfo...,Express;Flask;React.js;Spring,Django;Express;Flask;React.js;Vue.js,Hadoop;Node.js;Pandas,Ansible;Apache Spark;Chef;Hadoop;Node.js;Panda...,Atom;IntelliJ;IPython / Jupyter;PyCharm;Visual...,Linux-based,Development;Testing;Production;Outside of work...,NaN,Useful across many domains and could change ma...,Yes,SIGH,Yes,YouTube,In real life (in person),Handle,2012,A few times per week,Find answers to specific questions;Learn how t...,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,"Database administrator;Developer, back-end;Dev...",12,11,4,Slightly satisfied,Slightly satisfied,Somewhat confident,No,Not sure,"I’m not actively looking, but I am open to new...",Less than a year ago,Write any code;Interview with people in peer r...,Yes,Financial performance or funding status of the...,I was preparing for a job search,NZD,New Zealand dollar,138000.0,Yearly,95179.0,32.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,Less than once per month / Never,Office,A little above average,"Yes, because I see value in code review",12.0,"Yes, it's not part of our process but the deve...",Not sure,I have some influence,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,Bash/Shell/PowerShell;C;HTML/CSS;JavaScript;Ru...,DynamoDB;PostgreSQL;SQLite,PostgreSQL;Redis;SQLite,AWS;Docker;Heroku;Linux;MacOS;Slack,AWS;Docker;Heroku;Linux;MacOS;Slack;Other(s):,Express;Ruby on Rails;Other(s):,Express;Ruby on Rails;Other(s):,Node.js;Unity 3D,Node.js,Vim,MacOS,Development;Testing;Production,Not at all,An irresponsible use of resources,No,SIGH,Yes,Twitter,In real life (in person),Username,2013,Daily or almost daily,Find answers to specific questions;Contribute ...,3-5 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,"10,000 or more employees",Data or business analyst;Data scientist or mac...,12,20,10,Slightly dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,Yes,"I’m not actively looking, but I am open to new...",3-4 years ago,NaN,No,"Languages, frameworks, and other technologies ...",NaN,INR,Indian rupee,950000.0,Yearly,13293.0,70.0,There's no schedule or spec; I work on what se...,NaN,A few days each month,Home,Far above average,"Yes, because I see value in code review",4.0,"Yes, it's part of our process",NaN,NaN,C#;Go;JavaScript;Python;R;SQL,C#;Go;JavaScript;Kotlin;Python;R;SQL,Elasticsearch;MongoDB;Microsoft SQL Server;MyS...,Elasticsearch;MongoDB;Microsoft SQL Server,Linux;Windows,Android;Linux;Raspberry Pi;Windows,Angular/Angular.js;ASP.NET;Django;Express;Flas...,Angular/Angular.js;ASP.NET;Django;Express;Flas...,.NET;Node.js;Pandas;Torch/PyTorch,.NET;Node.js;TensorFlow;Torch/PyTorch,Android Studio;Eclipse;IPython / Jupyter;Notep...,Windows,NaN,Not at all,Useful for immutable record keeping outside of...,No,Yes,Yes,YouTube,Neither,Screen Name,NaN,Multiple times per day,Find answers to specific questions;Get a sense...,3-5 times per week,They were about the same,NaN,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult

In [116]:
dfg['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [117]:
dfg['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [118]:
country_group = dfg.groupby(['Country'])

In [123]:
country_group.get_group('United Kingdom').head(5)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",10,17,3,Very satisfied,Slightly satisfied,Somewhat confident,No,No,"I’m not actively looking, but I am open to new...",3-4 years ago,Interview with people in senior / management r...,Yes,"Languages, frameworks, and other technologies ...",I heard about a job opportunity (from a recrui...,GBP,Pound sterling,29000.0,Monthly,455352.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,A few days each month,Home,Average,No,NaN,"No, but I think we should",Developers and management have nearly equal in...,I have some influence,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,C#;HTML/CSS;JavaScript;TypeScript;WebAssembly;...,MongoDB;Microsoft SQL Server;MySQL,Elasticsearch;MongoDB;Microsoft SQL Server;SQLite,NaN,AWS;Google Cloud Platform;Microsoft Azure,Angular/Angular.js;ASP.NET;jQuery,Angular/Angular.js;ASP.NET;React.js,.NET;.NET Core;Node.js,.NET Core;Node.js;React Native,Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,A passing fad,No,SIGH,No,YouTube,Online,Username,2010,Multiple times per day,Find answers to specific questions;Learn how t...,Less than once per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
76,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Completed an industry certification program (e...,20 to 99 employees,"Developer, back-end;Engineer, data",9,23,5,Slightly satisfied,Very satisfied,Very confident,Yes,Yes,I am not interested in new job opportunities,Less than a year ago,Write any code;Interview with people in peer r...,No,Office environment or company culture;Remote w...,I was preparing for a job search,GBP,Pound sterling,30000.0,Yearly,39254.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Home,Average,"Yes, because I see value in code review",2.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have some influence,PHP;SQL,Python,MariaDB;MySQL,NaN,AWS,NaN,Other(s):,Other(s):,NaN,Unreal Engine,Notepad++;PHPStorm,Windows,Development,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Also Yes,Yes,Facebook,In real life (in person),Username,2010,Daily or almost daily,Find answers to specific questions,1-2 times per week,Stack Overflow was slightly faster,0-10 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,32.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
80,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,500 to 999 employees,"Developer, back-end;Developer, full-stack;DevO...",1,22,1,Slightly satisfied,Very satisfied,Very confident,No,Yes,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,Industry that I'd be working in;Office environ...,I was preparing for a job search,GBP,Pound sterling,NaN,Yearly,NaN,50.0,There is a schedule and/or spec (made by me or...,Inadequate access to necessary tools;Toxic wor...,It's complicated,Office,A little above average,"Yes, because I was told to do so",3.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have some influence,Bash/Shell/PowerShell;C#;F#;Go;HTML/CSS;Java;J...,F#;Go;Python;Rust,MongoDB;Microsoft SQL Server,Couchbase;MariaDB;MongoDB,Docker;Kubernetes;Linux;Microsoft Azure;Windows,Docker;Google Cloud Platform;Kubernetes;Linux;...,Angular/Angular.js;ASP.NET;Flask;Vue.js,ASP.NET;Flask;Vue.js;Other(s):,.NET;.NET Core;TensorFlow;Torch/PyTorch;Xamarin,.NET Core;TensorFlow;Torch/PyTorch;Xamarin,IntelliJ;PyCharm;Visual Studio;Visual Studio Code,Windows,"Production;Outside of work, for personal projects",Implementing cryptocurrency-based products,Useful across many domains and could change ma...,Yes,"Fortunately, someone else has that title",No,I don't use social media,In real life (in person),Username,2010,Multiple times per day,Find answers to specific questions;Learn how t...,3-5 times per week,They were about the same,NaN,Not sure / can't remember,NaN,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,Biracial,No,Appropriate in length,Neither easy nor difficult
82,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Developer, back-end;DevOps specialist",35,14,27,Neither satisfied nor dissatisfied,Neither satisfied nor dissatisfied,Not at all confident,Yes,No,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in senior / management r...,No,Office environment or company culture;Remote w...,I had a negative experience or interaction at ...,GBP,Pound sterling,110000.0,Yearly,143932.0,35.0,There's no schedule or spec; I work on what se...,Toxic work environment,A few days each month,Home,A little above average,"Yes, because I see value in code review",3.0,"Yes, it's part of our process",Developers typically have the most influence o...,I have a great deal of influence,Bash/Shell/PowerShell;C++;HTML/CSS;Java;JavaSc...,Bash/Shell/PowerShell;C++;HTML/CSS;Java;JavaSc...,Couchbase,NaN,Docker;Linux,Docker;Kubernetes;Linux,React.js;Spring,React.js;Spring,Chef,Chef,IntelliJ,Linux-based,Development,NaN,An irresponsible use of resources,Yes,NaN,NaN,I don't use social media,In real life (in person),NaN,2012,Daily or almost daily,Find answers to specific questions;Contribute ...,Less than once per week,Stack Overflow was much faster,60+ minutes,Yes,Daily or almost daily,Yes,Yes,"Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area,NaN,Man,No,NaN,NaN,No,Too long,Neither easy nor difficult

In [126]:
filt = (dfg['Country'] == 'United Kingdom')

In [129]:
dfg.loc[filt, 'SocialMedia'].value_counts()

Reddit                      1199
Twitter                      995
WhatsApp                     909
Facebook                     811
YouTube                      681
I don't use social media     372
Instagram                    318
LinkedIn                     175
Snapchat                      70
WeChat 微信                     11
VK ВКонта́кте                  3
Youku Tudou 优酷                 1
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [131]:
dfg.loc[filt]['SocialMedia'].value_counts()

Reddit                      1199
Twitter                      995
WhatsApp                     909
Facebook                     811
YouTube                      681
I don't use social media     372
Instagram                    318
LinkedIn                     175
Snapchat                      70
WeChat 微信                     11
VK ВКонта́кте                  3
Youku Tudou 优酷                 1
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [132]:
dfg.loc[filt]['SocialMedia'].value_counts(normalize=True)

Reddit                      0.216192
Twitter                     0.179409
WhatsApp                    0.163902
Facebook                    0.146232
YouTube                     0.122791
I don't use social media    0.067075
Instagram                   0.057339
LinkedIn                    0.031554
Snapchat                    0.012622
WeChat 微信                   0.001983
VK ВКонта́кте               0.000541
Youku Tudou 优酷              0.000180
Weibo 新浪微博                  0.000180
Name: SocialMedia, dtype: float64

In [138]:
country_group['SocialMedia'].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

In [139]:
country_group['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [143]:
country_group['ConvertedComp'].mean()

28057.664916229056

In [146]:
country_group['ConvertedComp'].median().loc['India']

10080.0

In [151]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [152]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).loc['United Kingdom']

2384